<h1>Pages#game</h1>
<p>Find me in app/views/pages/game.html.erb</p>
<%= @grid %>



<form action="/score" method="get">
  <input type="text" name="attempt" >
  <input type="hidden" name="grid" value="<%= @grid %> ">
  <input type="hidden" name="start_time" value="<%= @start_time %> ">
  <input type="submit">
</form>
